In [1]:
# Dependencies
import pandas as pd

In [2]:
# List of file names to be combined

d1 = pd.read_csv("Resources/201307-citibike-tripdata.csv")
d2 = pd.read_csv("Resources/201308-citibike-tripdata.csv")
d3 = pd.read_csv("Resources/201309-citibike-tripdata.csv")
d4 = pd.read_csv("Resources/201310-citibike-tripdata.csv")
d5 = pd.read_csv("Resources/201311-citibike-tripdata.csv")
d6 = pd.read_csv("Resources/201312-citibike-tripdata.csv")
d7 = pd.read_csv("Resources/201401-citibike-tripdata.csv")
d8 = pd.read_csv("Resources/201402-citibike-tripdata.csv")
d9 = pd.read_csv("Resources/201306-citibike-tripdata.csv")

In [3]:
# Concatenate all data to one dataframe

combined_df = pd.concat([d1,d2,d3,d4,d5,d6,d7,d8,d9])
combined_df.count()

tripduration               6140024
starttime                  6140024
stoptime                   6140024
start station id           6140024
start station name         6140024
start station latitude     6140024
start station longitude    6140024
end station id             6121965
end station name           6121965
end station latitude       6121965
end station longitude      6121965
bikeid                     6140024
usertype                   6140024
birth year                 5899703
gender                     6140024
dtype: int64

In [4]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Use the 'map' method to change the values in the 'gender' column
combined_df['gender'] = combined_df['gender'].map(mapping)

# Show DataFrame
combined_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,Unknown
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459.0,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,Unknown
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237.0,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,Female
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499.0,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,Unknown
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577698,925,2013-06-30 23:59:27,2013-07-01 00:14:52,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,15250,Subscriber,1964.0,Male
577699,279,2013-06-30 23:59:36,2013-07-01 00:04:15,116,W 17 St & 8 Ave,40.741776,-74.001497,494.0,W 26 St & 8 Ave,40.747348,-73.997236,19411,Customer,NaN,Unknown
577700,161,2013-06-30 23:59:33,2013-07-01 00:02:14,443,Bedford Ave & S 9 St,40.708531,-73.964090,282.0,Kent Ave & S 11 St,40.707645,-73.968415,18910,Subscriber,1972.0,Female
577701,909,2013-06-30 23:59:47,2013-07-01 00:14:56,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,16108,Customer,NaN,Unknown
577702,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 16 St,40.732219,-73.981656,16950,Customer,NaN,Unknown

In [5]:
# Convert the 'date' column to a datetime object, handling errors
combined_df['starttime'] = pd.to_datetime(combined_df['starttime'], errors='coerce')

# Extract the year and create a new column
combined_df['year'] = combined_df['starttime'].dt.year

In [6]:
# Extract the month and create a new column
combined_df['month'] = combined_df['starttime'].dt.strftime('%B')

In [7]:
# Show dataframe
combined_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year,month
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,Unknown,2013,July
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459.0,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,Unknown,2013,July
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237.0,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,Female,2013,July
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499.0,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,Unknown,2013,July
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,Male,2013,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577698,925,2013-06-30 23:59:27,2013-07-01 00:14:52,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,15250,Subscriber,1964.0,Male,2013,June
577699,279,2013-06-30 23:59:36,2013-07-01 00:04:15,116,W 17 St & 8 Ave,40.741776,-74.001497,494.0,W 26 St & 8 Ave,40.747348,-73.997236,19411,Customer,NaN,Unknown,2013,June
577700,161,2013-06-30 23:59:33,2013-07-01 00:02:14,443,Bedford Ave & S 9 St,40.708531,-73.964090,282.0,Kent Ave & S 11 St,40.707645,-73.968415,18910,Subscriber,1972.0,Female,2013,June
577701,909,2013-06-30 23:59:47,2013-07-01 00:14:56,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,16108,Customer,NaN,Unknown,2013,June
577702,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 16 St,40.732219,-73.981656,16950,Customer,NaN,Unknown,2013,July

In [8]:
# Save the dataframe to a CSV file

combined_df.to_csv('Resources/citibike_tripdata.csv', index=False)

In [9]:
check = pd.read_csv('Resources/citibike_tripdata.csv')
check.head(10)

C:\Users\Asabe Chioma\AppData\Local\Temp\ipykernel_4260\2078476386.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  check = pd.read_csv('Resources/citibike_tripdata.csv')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year,month
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,Unknown,2013,July
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459.0,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,Unknown,2013,July
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237.0,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,Female,2013,July
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499.0,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,Unknown,2013,July
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,Male,2013,July
5,861,2013-07-01 00:01:23,2013-07-01 00:15:44,511,E 14 St & Avenue B,40.729387,-73.977724,454.0,E 51 St & 1 Ave,40.754557,-73.965930,16223,Subscriber,1988,Male,2013,July
6,550,2013-07-01 00:01:59,2013-07-01 00:11:09,293,Lafayette St & E 8 St,40.730287,-73.990765,394.0,E 9 St & Avenue C,40.725213,-73.977688,16746,Customer,\N,Unknown,2013,July
7,288,2013-07-01 00:02:16,2013-07-01 00:07:04,224,Spruce St & Nassau St,40.711464,-74.005524,376.0,John St & William St,40.708621,-74.007222,16062,Subscriber,1985,Female,2013,July
8,766,2013-07-01 00:02:16,2013-07-01 00:15:02,432,E 7 St & Avenue A,40.726218,-73.983799,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,17963,Subscriber,1980,Female,2013,July
9,773,2013-07-01 00:02:23,2013-07-01 00:15:16,173,Broadway & W 49 St,40.760647,-73.984427,479.0,9 Ave & W 45 St,40.760193,-73.991255,19365,Subscriber,1989,Male,2013,July